<%- include('bootheader') -%>
<%- include('menubar') -%>

  <div class="jumbotron">
    <h1> Brandeis German Club </h1>
    <p>Welcome to the Brandeis German Club! </p>
    <ul>
      
    </ul>
  </div>

<%- include('bootfooter') -%>
