<%- include('bootheader') -%>

<%- include('menubar') -%>

    <div class="jumbotron bg-success">
        <h1>German Weather Finder</h1>
    </div>
<form method="post" action="/getWeather">
    What german city would you like the weather for? (one word)
    <input type="text" name="city"><br>
    <input type="submit">
</form>


<%- include('bootfooter') -%>
