<%- include('bootheader') -%>
<%- include('menubar') -%>



<div class="jumbotron">
<h1>About Kevin</h1>
    <p>
      I grew up in Zurich Switzerland. I enjoy listening to music, phtography,
      and coding. Checkout my photography website
      <a href="https://kevinbrazile.wordpress.com/">here</a>
      .
    <br><br>
    <img width="400" src="/images/kevin.jpg">
    <br>
    <h2>Education</h2>
    <ul>
      <li> Zurich International School, 2016 </li>
      <li> Brandeis University, 2020 </li>
    </ul>


</div>


 <!--
  also add a list and some links
  to your bio,
  and maybe a table ...
-->

<%- include('bootfooter') -%>
