<%- include('bootheader') -%>
<%- include('menubar') -%>



<div class="jumbotron">
    <h1>Wilkommen</h1>
    <p>Welcome to the Brandeis German Club!</p>


</div>
<div class="row">
  <div class="col">
    <p>
      <img src="images/Brandeis_University_sign.jpeg"
       width="400" alt="Brandeis Sign Photo" >
       <br>
       Source: https://commons.wikimedia.org/wiki/File:Brandeis_University_sign.jpg
       <br><br>

      The purpose of the German Club is to divulge Germanic culture through language, history, (maybe food),
      movies, and books. We hope to foster a safe and diverse environment for people of all german-speaking levels.
      German Club is open to anyone Brandeis community, including undergrad and grad students, faculty, as well as staff.
      <h2>Goals:</h2>
      The Brandeis German Club plans to work closely together with the
      <a href="https://www.brandeis.edu/grall/"> Department of German, Russian and Asian Languages and Literature (GRALL) </a>
      in the future.
    </p>
  </div>
  <div class="col">
    <p>
      Regular Events
      <ul>
        <li>Weekly meetings on Tuesdays</li>
        <li>Monthly Book Seminars</li>
        <li>Annual Guest Speaker Seminars</li>
      </ol>

    </p>
    </div>
  </div>

  <div
    <h2>
      Different Cuisines we will be cooking throughout the Semester
    </h2>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
        <th>Name (English): </th>
        <th>Name (German):</th>
        </tr>
      </thead>
      <tbody>
        <tr>
        <td>Sauerbraten </td>
        <td>Roast Beef Stew</td>
        </tr>
      <tr>
        <td>Schweinshaxe</td>
        <td>Pork Knuckle</td>
      </tr>
      <tr>
        <td>Rinderroulade</td>
        <td>Beef Roll</td>
      </tr>
      <tr>
        <td>Bratwurst</td>
        <td>Grilled Sausage</td>
      </tr>
      <tr>
        <td>Kartoffelpuffer</td>
        <td>Potato Pancake</td>
      </tr>
      <tr>
        <td>Kartoffelkloesse</td>
        <td>Potato Dumplings</td>
      </tr>
      <tr>
        <td>Sauerkraut </td>
        <td>Fermented Cabbage</td>
      </tr>
      </tbody>
    </table>
    <br>

    <hr>
  </div>


<%- include('bootfooter') -%>
