<%- include('bootheader') -%>
<%- include('menubar') -%>
<div class="jumbotron bg-secondary">
    <h1>Join the Brandeis German Club!</h1><br>

<% if (!loggedIn) {%>
  <a href="/login">Log in </a>
  to join the Brandeis German Club!
<% } %>

<% if (loggedIn) {%>
<p>Fill out this form to join the Brandeis German Club!</p>
<form method="post" action="/germanView">
  Full name:
  <input type="text"
         name="member"
         placeholder="your name"><br>
  What is your graduation year?
  <select name="year">
    <option value="2025">2025</option>
    <option value="2024">2024</option>
    <option value="2023">2023</option>
    <option value="2022">2022</option>
    <option value="Other">Other</option>
  </select>
  <br>
  Why do you wanna join?
  <br>
  <textarea name="why" rows="5" cols="40"></textarea>
  <br>
  Do you speak german? [Not required to join, we are just interested]<br>
  yes <input type="radio" name="speaksGerman" value="yes"><br>
  no  <input type="radio" name="speaksGerman" value="no"><br>

 How did you hear about us?<br>
  Email <input type="checkbox" name="how" value="Email"><br>
  Your Professor  <input type="checkbox" name="how" value="Professor"><br>
  Posters <input type="checkbox" name="how" value="posters"><br>
  Instagram <input type="checkbox" name="how" value="instagram"><br>
  Other <input type="checkbox" name="how" value="other"><br>
  <hr>

  <input type="submit" value="Register now">
</form><br>
<% } %>
<br>
Here is a list of the current Brandeis German Club Members:<br>
<ul>
  <%  members.map((member) => {%>
    <li> <%= member['member'] %> </li>
  <%})%>

</ul>

<hr>


<%- include('bootfooter') -%>
