
    <div class="jumbotron">
        <h1>Login </h1>
        <p> Login to see your profile, join the club, and more! </p>
        <a class="btn btn-danger" href="/auth/google">
            <span class="fa fa-google-plus"> Google</span>
        </a>
    </div>
